---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- displays site properly based on user's device -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,700;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="favicon-32x32.png"
        />

        <title>Frontend Mentor | Product preview card component</title>

        <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
        <style>
            .attribution {
                font-size: 11px;
                text-align: center;
            }
            .attribution a {
                color: hsl(228, 45%, 44%);
            }
        </style>
    </head>
    <body
        class="bg-cream font-heading m-4 flex items-center sm:h-screen sm:justify-center"
    >
        <article
            class="w-[600px] overflow-hidden rounded-lg shadow-lg sm:flex sm:overflow-hidden"
        >
            <div class="flex-1">
                <img
                    class="hidden h-full w-full object-cover sm:block"
                    src="image-product-desktop.jpg"
                    alt="perfume product image"
                />
                <img
                    class="w-full sm:hidden"
                    src="image-product-mobile.jpg"
                    alt="perfume product image"
                />
            </div>
            <div class="flex-1 bg-white">
                <div
                    class="flex h-full flex-col justify-between gap-5 px-10 py-5"
                >
                    <h2
                        class="text-darkGrayishBlue font-sans text-sm font-bold uppercase tracking-[.25rem] opacity-50"
                    >
                        Perfume
                    </h2>

                    <h1 class="text-3xl font-bold leading-7">
                        Gabrielle Essence Eau De Parfum
                    </h1>
                    <p class="text-darkGrayishBlue">
                        A floral, solar and voluptuous interpretation composed
                        by Olivier Polge, Perfumer-Creator for the House of
                        CHANEL.
                    </p>

                    <div class="flex items-center">
                        <p class="text-cyan mr-4 text-3xl font-bold">$149.99</p>
                        <span class="text-darkGrayishBlue text-xs line-through"
                            >$169.99</span
                        >
                    </div>
                    <button
                        class="bg-cyan hover:bg-darkBlue flex justify-center gap-2 rounded-lg py-2 text-sm text-white"
                    >
                        <img src="icon-cart.svg" alt="cart icon" />Add to Cart</button
                    >
                </div>
            </div>
        </article>
    </body>
</html>
